body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

#gameCanvas {
    border: 2px solid #fff;
    background-color: #1e1e1e;
    border-radius: 10px;
}

#controls {
    max-width: 300px;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.control-block {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

select, input, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #444;
    color: white;
    outline: none;
}

select:focus, input:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px #00ff00;
}

button {
    background-color: #555;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #666;
    transform: translateY(-3px);
}

button:active {
    background-color: #888;
}

button.active {
    background-color: #888;
}
